<h1>About this project</h1>
<section>
    This is me just trying out some angular.<br/>
    Using two api's in order to show the <br/>
    user what the current bit coin etherium and prices<br/>
    are blah blah blah etc...........<br/>
<br/>
    <h2>Here are the API's</h2>
    <a href="https://api.coinmarketcap.com/v1/ticker/?limit=2">https://api.coinmarketcap.com/v1/ticker/?limit=2</a><br/>
    <a href="http://api.fixer.io/latest">http://api.fixer.io/latest</a><br/><br/>
    This API is unreliable it does not update as<br/> 
    frequently as I would like to 
</section>


